@charset"UTF-8";
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.container{
    margin: auto;
    width: 90vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 200px;
    gap: 5px;
}

.caixa{
    
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    
}

#topo{
    grid-area: 1/1/2/3;
    background-color: antiquewhite;
}

#menu{
    grid-area: 2/1/2/3;
    background-color: aquamarine;
}

#menu >a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

#menu >a:hover{
    background-color: black;
    color: white;
}

#principal{
    grid-area: 3/1/4/1;
    gap: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: gray;
    align-items: stretch;
    padding: 10px;
}
#secao1{
       background-color: lightgrey;
}
#secao2{
       background-color: lightgrey;
      
}

#secundario{
    
    grid-area: 3/2/4/-1;
    background-color: rgb(31, 75, 60);
}

#rodape{
    grid-area: 4/1/-1/-1;
    background-color: brown;
}