    @charset"UTF-8";
    body{
            background-color: rgb(240, 240, 240);
            font-family: arial;
        }
        
        h1 {
            color: white;
            background: #303030;
        }
        
        h2{ color: rgb(255, 255, 255);
            background-color: rgb(110, 110, 110);
        }

        p{
            text-align: justify;
        }